.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: $radius-xs;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  font-size: $font-size-h4;
  padding: $space-12 $space-24;
  border: none;
  outline: none;

  &--small {
    font-size: $font-size-body-m;
    padding: $space-8 $space-12;
    font-weight: 300;
  }

  &--with-photo {
    padding-left: $space-40;
    position: relative;
  }

  &--orange {
    background-color: $lightOrange;
  }

  &--orange:hover {
    background: linear-gradient($lightOrange, scale-color($lightOrange, $lightness: -25%, $saturation: 100%));
  }

  &--dark-orange {
    background-color: $darkOrange;
  }

  &--dark-orange:hover {
    background: linear-gradient($darkOrange, scale-color($darkOrange, $lightness: -35%, $saturation: 100%));
  }

  &--blue {
    background-color: $mainBlue;
  }

  &--blue:hover {
    background: linear-gradient(scale-color($mainBlue, $lightness: 11%), $mainBlue);
  }

  &--yellow {
    background-color: $mainYellow;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
  }

  &--yellow:hover {
    background: linear-gradient($mainYellow, scale-color($mainYellow, $lightness: -29%, $saturation: 100%));
  }

  &--beige {
    background-color: $beige;
    color: #173f58;
  }

  &--beige:hover {
    background-color: $mainYellow;
  }

  &--gray {
    background-color: #222;
  }

  &--white {
    background-color: #fff;
    color: #173f58;
  }

  &--white:hover {
    background-color: #ddd;
  }

  &--large {
    font-size: $font-size-h4;
    padding: $space-16 $space-32;
    border-radius: $radius-xs;
    @include atSmall {
      font-size: $font-size-h3-mob;
    }
  }

  &--inactive {
    background-color: transparent;
    cursor: default;
    color: #333;
  }
}