.headline {
  margin: 0;
  font-family: $font-family-base;
  font-weight: $font-weight-light;

  &--large {
    font-size: $font-size-h1;
    @include atSmall {
      font-size: $font-size-h1;
    }
  }

  &--large-medium {
    font-size: $font-size-h1;
    margin: 0 0 $space-16 0;
  }

  &--medium {
    font-size: $font-size-h3-mob;
    margin-bottom: $space-12;
    @include atSmall {
      font-size: $font-size-h1-mob;
    }
  }

  &--small-plus {
    font-size: $font-size-h3-mob;
    font-weight: $font-weight-regular;
    margin-bottom: $space-32;
  }

  &--small {
    font-size: $font-size-h4;
    margin-bottom: $space-32;
    @include atSmall {
      font-size: $font-size-h3-mob;
    }
  }

  &--smaller {
    font-size: $font-size-h4;
  }

  &--tiny {
    font-size: $font-size-h4;
    margin-bottom: $space-4;
  }

  &--post-title a {
    color: $color-neutral-900;
    text-decoration: none;
  }

  &--post-title a:hover {
    text-decoration: underline;
  }
}
