.hero-slider {
  position: relative;

  div {
    outline: none;
  }

  &__interior {
    padding-top: $space-56;
    padding-bottom: $space-56;

    @include atMedium {
      padding-top: $space-120;
      padding-bottom: $space-120;
    }
  }

  &__slide {
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__overlay {
    margin: 0 auto;
    background-color: rgba($color-neutral-900, 0.68);
    padding: $space-40;
    color: $color-white;
    @include atMedium {
      width: 50%;
    }
  }
}

.slick-dots {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  top: 15px;
  @include atMedium {
    top: 50px;
  }

  li {
    list-style: none;
    display: inline;
  }

  li button {
    display: inline-block;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    width: 10px;
    height: 10px;
    background-color: rgba($color-white, 0.5);
    box-shadow: 1px 1px 1px rgba($color-black, 0.25);
    border-radius: 50%;
    border: none;
    margin: 0 $space-4;
    padding: 0;
    outline: none;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
  }

  .slick-active button {
    background-color: $color-white;
  }
}

// GlideJS bullets
.glide__bullets {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  top: 15px;
  @include atMedium {
    top: 50px;
  }

  button {
    display: inline-block;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    width: 10px;
    height: 10px;
    background-color: rgba($color-white, 0.5);
    box-shadow: 1px 1px 1px rgba($color-black, 0.25);
    border-radius: 50%;
    border: none;
    margin: 0 $space-4;
    padding: 0;
    outline: none;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
  }

  button.glide__bullet--active {
    background-color: $color-white;
  }
}
