// Customize WP Login Screen

body.login .button-primary {
  background-color: $color-accent-medium;
  border-color: $color-accent-dark;
  text-shadow:
    0 -1px 1px $color-accent-dark,
    1px 0 1px $color-accent-dark,
    0 1px 1px $color-accent-dark,
    -1px 0 1px $color-accent-dark;
  box-shadow: 0 1px 0 $color-accent-dark;
}

body.login .button-primary:active,
body.login .button-primary:focus,
body.login .button-primary:hover {
  background-color: $color-accent-dark;
  border-color: $color-accent-medium;
  text-shadow:
    0 -1px 1px $color-accent-dark,
    1px 0 1px $color-accent-dark,
    0 1px 1px $color-accent-dark,
    -1px 0 1px $color-accent-dark;
  box-shadow: 0 1px 0 $color-accent-dark;
}

body.login {
  background-color: $color-peach-50;
}

.login h1 a {
  color: $color-neutral-900;
  font-size: $font-size-h3-mob;
  font-weight: $font-weight-light;
  background-image: none;
  width: auto;
  height: auto;
  text-indent: 0;
}
