.metabox {
  background-color: $color-peach-50;
  border-radius: $radius-xs;
  padding: $space-8 $space-16;
  display: inline-block;
  margin-bottom: $space-32;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);

  &--position-up {
    top: 0;
    transform: translateY(-50%);
  }

  &--with-home-link {
    padding: 0;
  }

  &__main {
    padding: $space-8 $space-16 $space-8 $space-12;
  }

  p {
    margin: 0;
    font-size: $font-size-body-m;
    color: $color-neutral-700;
  }

  a {
    color: $color-neutral-700;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }

  & &__blog-home-link {
    background-color: $color-neutral-900;
    color: $color-white;
    display: inline-block;
    padding: $space-8 $space-16;
    border-radius: $radius-xs 0 0 $radius-xs;
    font-weight: normal;
  }

  & &__blog-home-link:hover {
    text-decoration: none;
    background-color: $color-black;
  }
}
