
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");


#background {
  background-color: #000;
}

main.about-us-main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.bg-img {
  position: absolute;
  width: 2900px; /* Upewnij się, że szerokość jest również 100% */
  height: 100%; /* Ustawienie wysokości na 100% */
  // top: calc(50% - 590px);
  // left: calc(50% + 10px);
  // transform: translate(-50%, -50%);
  z-index: 1;
  // object-fit: cover; /* Dodane */
}

.fog-7 {
  position: absolute;
  z-index: 2;
  width: 1900px;
  top: calc(50% - 100px);
  left: calc(50% + 300px);
  transform: translate(-50%, -50%);
}

.mountain-10 {
  position: absolute;
  z-index: 3;
  width: 870px;
  top: calc(50% + 69px);
  left: calc(50% + 230px);
  transform: translate(-50%, -50%);
}

.fog-6 {
  position: absolute;
  z-index: 4;
  width: 1610px;
  top: calc(50% + 85px);
  left: calc(50% + 10px);
  transform: translate(-50%, -50%);
}

.mountain-9 {
  position: absolute;
  z-index: 5;
  width: 470px;
  top: calc(50% + 113px);
  left: calc(50% - 457px);
  transform: translate(-50%, -50%);
}

.mountain-8 {
  position: absolute;
  z-index: 6;
  width: 810px;
  top: calc(50% + 86px);
  left: calc(50% - 202px);
  transform: translate(-50%, -50%);
}

.fog-5 {
  position: absolute;
  z-index: 7;
  width: 450px;
  top: calc(50% + 160px);
  left: calc(50% + 20px);
  transform: translate(-50%, -50%);
}

.mountain-7 {
  position: absolute;
  z-index: 8;
  width: 538px;
  top: calc(50% + 123px);
  left: calc(50% - 230px);
  transform: translate(-50%, -50%);
}

// .text {
//   display: flex;
//   flex-direction: column;
//   position: absolute;
//   z-index: 9;
//   top: calc(50% - 130px);
//   left: 50%;
//   transform: translate(-50%, -50%);
//   text-align: center;
//   text-transform: uppercase;
// }

// .text h2 {
//   font-family: 'Poppins', sans-serif;
//   font-weight: 200;
//   font-size: 6.5rem;
//   line-height: 0.88;
//   display: inline-block;
//   margin-bottom: 0;
// }

// .text h1 {
//   font-family: 'Poppins', sans-serif;
//   font-weight: 700;
//   font-size: 7rem;
//   line-height: 0.88;
//   margin-top: 1rem;
// }

// .text h2 span {
//   opacity: 1;
//   animation: changeColor 5s forwards;
//   display: inline-block;
// }

@keyframes changeColor {
  0% {
    color: black;
    opacity: 1;
  }
  50% {
    color: rgb(12, 114, 137);
    opacity: 1;
  }
  100% {
    color: black;
    opacity: 1;
  }
}

.last {
  animation: stayBlue 4s forwards;
}

@keyframes stayBlue {
  0% {
    color: black;
    opacity: 1;
  }
  50% {
    color: rgb(12, 114, 137);
    opacity: 1;
  }
  100% {
    color: rgb(12, 114, 137);
    opacity: 1;
  }
}



.mountain-6 {
  position: absolute;
  z-index: 10;
  width: 408px;
  top: calc(50% + 60px);
  left: calc(50% + 590px);
  transform: translate(-50%, -50%);
}

.fog-4 {
  position: absolute;
  z-index: 11;
  width: 590px;
  top: calc(50% + 223px);
  left: calc(50% - 60px);
  transform: translate(-50%, -50%);
}

.mountain-5 {
  position: absolute;
  z-index: 12;
  top: 80.86%;
  width: 43.4%;
  left: 59%;
  transform: translate(-50%, -50%);
}

.fog-3 {
  position: absolute;
  z-index: 13;
  top: 63.58%;
  left: 48.27%;
  width: 107.63%;
  transform: translate(-50%, -50%);
}

.mountain-4 {
  position: absolute;
  z-index: 14;
  top: 74.19%;
  width: 54.16%;
  left: 23.55%;
  transform: translate(-50%, -50%);
}


.mountain-3 {
  position: absolute;
z-index: 15;
top: 61.35%;
left: 101.11%;
width: 32.22%;
transform: translate(-50%, -50%);
}

.fog-2 {   
z-index: 16;
top: 68.14%;
left: 48%;
width: 108.33%;
transform: translate(-50%, -50%);
}

.mountain-2 {
  position: absolute;
z-index: 17;
top: 69.01%;
left: 78.61%;
width: 47.91%;
transform: translate(-50%, -50%);
}


.mountain-1 {
  position: absolute;
z-index: 18;
top: 52%;
left: 8.27%;
width: 37.15%;
transform: translate(-50%, -50%);
}

.sun-rays {
  position: absolute;
  z-index: 19;
  top: 0;
  right: 0%;
  width: 41.31%;
  pointer-events: none;
}

.black-shadow {
  position: absolute;
  z-index: 20;
  bottom: 0;
  right: 0%;
  pointer-events: none;
  width: 100%;
}

.fog-1 {
  position: absolute;
  z-index: 21;
  top: 59.26%;
  left: 50.69%;
  width: 111.8%;
  transform: translate(-50%, -50%);
}

.vignette {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 65%,
    rgba(0, 0, 0, 0.7)
  );
  pointer-events: none;
}

.parallax {
      pointer-events: none;
      transition: none;
    }

    @media (max-width: 1100px) {
      .text h1 {
        font-size: 5.8rem;
      }
    
      .text h2 {
        font-size: 4.7rem;
      }
    }
    
    @media (max-width: 725px) {
      .text h1 {
        font-size: 5rem;
        line-height: 1.1;
      }
    
      .text h2 {
        font-size: 4.1rem;
        line-height: 1.1;
      }
    
      .bg-img {
        width: initial;
        height: 208.1%;
      }
    
      .fog-7 {
        width: initial;
        height: 146.17%;
      }
    
      .mountain-10 {
        width: initial;
        height: 77.59%;
      }
    
      .fog-6 {
        width: initial;
        height: 73.11%;
      }
    
      .mountain-9 {
        height: 87.64%;
        width: initial;
      }
    
      .mountain-8 {
        height: 84.33%;
        width: initial;
      }
    
      .fog-5 {
        width: initial;
        height: 54.16%;
      }
    
      .mountain-7 {
        width: initial;
        height: 72.26%;
      }
    
      .mountain-6 {
        width: initial;
        height: 56.78%;
      }
    
      .fog-4 {
        width: initial;
        height: 104.5%;
      }
    
      .mountain-5 {
        width: initial;
        height: 60.64%;
      }
    
      .fog-3 {
        width: initial;
        height: 90.78%;
      }
    
      .mountain-4 {
        width: initial;
        height: 71.42%;
      }
    
      .mountain-3 {
        width: initial;
        height: 96.86%;
      }
    
      .fog-2 {
        width: initial;
        height: 84.73%;
      }
    
      .mountain-2 {
        display: none;
      }
    
      .mountain-1 {
        width: initial;
        height: 100.03%;
      }
    
      .fog-1 {
        width: initial;
        height: 89.86%;
      }
    }
    
    @media (max-width: 520px) {
      .text h1 {
        font-size: 3.3rem;
      }
    
      .text h2 {
        font-size: 2.6rem;
      }
    }