.page-links {
  position: relative;
  z-index: 1;
  background-color: $color-peach-50;
  margin: 0 0 $space-40 0;
  @include atSmallMedium {
    margin: 0 0 $space-40 $space-16;
    width: 300px;
    float: right;
  }

  &__title {
    margin: 0;
    font-weight: normal;
    text-align: center;
    padding: $space-16 0;
    background-color: $color-neutral-900;
    color: $color-white;

    a {
      color: $color-white;
      text-decoration: none;
      background-color: $color-neutral-900;
    }
  }

  li {
    border-top: 1px solid $color-peach-200;
  }

  li:first-child {
    border-top: none;
  }

  &__active,
  & .current_page_item {
    text-align: center;
    background-color: $color-peach-100;
    color: $color-neutral-900;
    font-weight: bold;
  }

  li a {
    display: block;
    text-align: center;
    padding: $space-16 $space-8;
    text-decoration: none;
    color: $color-neutral-900;
    transition: all 0.3s;
  }

  li a:hover {
    color: $color-neutral-800;
    background-color: $color-peach-200;
  }
}
