.platnosci-container {
  background: linear-gradient(
    180deg,
    $color-black 20%,
    $color-info-dark 53%,
    $color-black 100%
  );
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.gallery {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.cards {
  position: absolute;
  width: 14rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 24rem;
    height: 18rem;
    text-align: center;
    line-height: 18rem;
    font-size: $font-size-h3;
    font-family: $font-family-base;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $radius-s;
  }
}

.actions {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.prev,
.next {
  display: inline-block;
  outline: none;
  border: none;
  padding: $space-12 $space-24;
  background: linear-gradient(
    to bottom,
    $color-neutral-700,
    $color-neutral-800
  );
  text-shadow: 0 1px 0 $color-neutral-800;
  box-shadow: 0 1px 0 $color-neutral-800;
  color: $color-white;
  text-decoration: none;
  margin: 0 auto $space-8;
  border-radius: $radius-xs;
  font-family: $font-family-base;
  text-transform: uppercase;
  font-weight: $font-weight-semibold;
  cursor: pointer;
  font-size: $font-size-h4;
  line-height: 1.4;

  &:hover {
    background: linear-gradient(
      to bottom,
      $color-success-medium,
      $color-success-dark
    );
    text-shadow: 0 1px 0 $color-success-dark;
    box-shadow: 0 1px 0 $color-white;
    color: $color-white;
    text-decoration: none;
  }
}

a {
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

.drag-proxy {
  visibility: hidden;
  position: absolute;
}
