<!-- wp:ourblocktheme/header -->
<!-- wp:navigation {"ref":17,"textColor":"foreground"} /-->
<!-- /wp:ourblocktheme/header -->

<!-- wp:ourblocktheme/metodywysylkihead -->
<div class="wp-block-ourblocktheme-metodywysylkihead"></div>
<!-- /wp:ourblocktheme/metodywysylkihead -->

<!-- wp:ourblocktheme/metodywysylkitext -->
<div class="wp-block-ourblocktheme-metodywysylkitext"></div>
<!-- /wp:ourblocktheme/metodywysylkitext -->

<!-- wp:ourblocktheme/metodywysylkikup -->
<div class="wp-block-ourblocktheme-metodywysylkikup"></div>
<!-- /wp:ourblocktheme/metodywysylkikup -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->