<!-- wp:ourblocktheme/header -->
<!-- wp:navigation {"ref":17,"textColor":"foreground"} /-->
<!-- /wp:ourblocktheme/header -->

<!-- wp:ourblocktheme/faqheader -->
<div class="wp-block-ourblocktheme-faqheader"></div>
<!-- /wp:ourblocktheme/faqheader -->

<!-- wp:ourblocktheme/faqpodstrona -->
<div class="wp-block-ourblocktheme-faqpodstrona"></div>
<!-- /wp:ourblocktheme/faqpodstrona -->

<!-- wp:ourblocktheme/logoswiper -->
<div class="wp-block-ourblocktheme-logoswiper"></div>
<!-- /wp:ourblocktheme/logoswiper -->

<!-- wp:ourblocktheme/footer /-->