<!-- wp:ourblocktheme/header -->
<!-- wp:navigation {"ref":17,"textColor":"foreground"} /-->
<!-- /wp:ourblocktheme/header -->
<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">


<!-- wp:ourblocktheme/faqheader -->
<div class="wp-block-ourblocktheme-faqheader"></div>
<!-- /wp:ourblocktheme/faqheader -->

<!-- wp:ourblocktheme/faqpodstrona -->
<div class="wp-block-ourblocktheme-faqpodstrona"></div>
<!-- /wp:ourblocktheme/faqpodstrona -->

<!-- wp:ourblocktheme/logoswiper -->
<div class="wp-block-ourblocktheme-logoswiper"></div>
<!-- /wp:ourblocktheme/logoswiper -->


</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->