<!-- wp:ourblocktheme/header -->
<!-- wp:navigation {"ref":64364} /-->
<!-- /wp:ourblocktheme/header -->

<!-- wp:ourblocktheme/karieraheader -->
<div class="wp-block-ourblocktheme-karieraheader"></div>
<!-- /wp:ourblocktheme/karieraheader -->

<!-- wp:ourblocktheme/karierazespol -->
<div class="wp-block-ourblocktheme-karierazespol"></div>
<!-- /wp:ourblocktheme/karierazespol -->

<!-- wp:ourblocktheme/textkariera -->
<div class="wp-block-ourblocktheme-textkariera"></div>
<!-- /wp:ourblocktheme/textkariera -->

<!-- wp:ourblocktheme/karieraikony -->
<div class="wp-block-ourblocktheme-karieraikony"></div>
<!-- /wp:ourblocktheme/karieraikony -->

<!-- wp:ourblocktheme/karieraoferty -->
<div class="wp-block-ourblocktheme-karieraoferty"></div>
<!-- /wp:ourblocktheme/karieraoferty -->

<!-- wp:template-part {"slug":"footer","theme":"ShavWoman","tagName":"footer"} /-->