<!-- wp:ourblocktheme/header -->
<!-- wp:navigation {"ref":17,"textColor":"foreground"} /-->
<!-- /wp:ourblocktheme/header -->
<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">


<!-- wp:ourblocktheme/patenthead -->
<div class="wp-block-ourblocktheme-patenthead"></div>
<!-- /wp:ourblocktheme/patenthead -->

<!-- wp:ourblocktheme/patentdesign -->
<div class="wp-block-ourblocktheme-patentdesign"></div>
<!-- /wp:ourblocktheme/patentdesign -->

<!-- wp:ourblocktheme/patenttext -->
<div class="wp-block-ourblocktheme-patenttext"></div>
<!-- /wp:ourblocktheme/patenttext -->

<!-- wp:ourblocktheme/metodywysylkikup -->
<div class="wp-block-ourblocktheme-metodywysylkikup"></div>
<!-- /wp:ourblocktheme/metodywysylkikup -->


</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->