<!-- wp:ourblocktheme/header -->
<!-- wp:navigation {"ref":17,"textColor":"foreground"} /-->
<!-- /wp:ourblocktheme/header -->

<!-- wp:ourblocktheme/patenthead -->
<div class="wp-block-ourblocktheme-patenthead"></div>
<!-- /wp:ourblocktheme/patenthead -->

<!-- wp:ourblocktheme/patentdesign -->
<div class="wp-block-ourblocktheme-patentdesign"></div>
<!-- /wp:ourblocktheme/patentdesign -->

<!-- wp:ourblocktheme/patenttext -->
<div class="wp-block-ourblocktheme-patenttext"></div>
<!-- /wp:ourblocktheme/patenttext -->

<!-- wp:ourblocktheme/metodywysylkikup -->
<div class="wp-block-ourblocktheme-metodywysylkikup"></div>
<!-- /wp:ourblocktheme/metodywysylkikup -->

<!-- wp:template-part {"slug":"footer","theme":"ShavWoman","tagName":"footer"} /-->