<!-- wp:ourblocktheme/header -->
<!-- wp:navigation {"ref":17,"textColor":"foreground"} /-->
<!-- /wp:ourblocktheme/header -->

<<!-- wp:ourblocktheme/metodyplatnoscihead -->
<div class="wp-block-ourblocktheme-metodyplatnoscihead"></div>
<!-- /wp:ourblocktheme/metodyplatnoscihead -->

<!-- wp:ourblocktheme/metodyplatnoscitext -->
<div class="wp-block-ourblocktheme-metodyplatnoscitext"></div>
<!-- /wp:ourblocktheme/metodyplatnoscitext -->

<!-- wp:ourblocktheme/metodywysylkikup -->
<div class="wp-block-ourblocktheme-metodywysylkikup"></div>
<!-- /wp:ourblocktheme/metodywysylkikup -->

<!-- wp:ourblocktheme/footer /-->